@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Josefin+Sans:wght@400;700&family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Raleway:wght@300;700;900&family=Rubik:wght@300;400;500&family=Work+Sans:wght@400;700;800&display=swap');



:root{
    --primary-color : #FF42A5;
    --gray : #534C64;

}



*{
    margin: 0px;
    padding: 0px;
    font-family: 'Epilogue', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* shared styles */

.linear{
    font-size: 48px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.grey-para{
    color: var(--gray);
    font-size: 18px;
    padding-left:20px;
}

.para-2{
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}

.text-center{
    text-align: center;
    justify-content: center;
}


/* nav section ......... start*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

.left-side{
    display: flex;
    align-items: center;
    gap: 12px;
}

.left-side h3{
    font-size: 45px;
    font-weight: 700;
}

.right-side{
    display: flex;
    gap: 20px;
    align-items: center;
}

.right-side ul {
    display: flex;
    gap: 15px;  
}

ul li{
    list-style: none;
}

li a{
    font-size: 18px;
    text-decoration: none;
    color: #3C354F;
}

.follow-links{
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: rgba(11, 2, 35, 0.10);
    padding: 10px;
    border-radius: 8px;
}

/* banner section ........ start */




.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;  
}
.banner-bg{
    background-image: url('images/Group\ 14.png');
    background-size: 800px;
    background-repeat: no-repeat;
}



.banner-left-side{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 30px;
}


.banner-left-side ul li{
    display: flex; 
    gap: 10px;
    margin-top: 10px;
    font-size: 20px;
    color: var(--gray);
    text-align: left;
}

.title-top{
    font-size: 48px;
    font-weight: 700;
}

.title-bottom{
    font-size: 95px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-container{
    margin-top: 20px;
    display: flex;
    gap: 10px;
}



.banner-btn{
    background-color: var(--primary-color);
    border: none;
    padding: 21px 40px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 600;
    color: wheat;
}

.rouge-btn{
    background-color: #4EC5F7;
}

.banner-right-side img{
    width: 600px;
}

/* information styles..................*/

.info-container{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin-top: 20px;
    display: flex;
}

.info-img img{
    width: 700px;
}

.info-top{
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info-top button{
    background-color: var(--primary-color);
    border: none;
    padding: 21px 40px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 600;
    color: white;   
}

.info-moto{
    text-align: right;
    margin-top: 30px;
}

.info-moto p{
    color: #3C354F;
    font-size: 20px;
}

.info-moto h3{
    color: var(--gray);
}

/* videos container styles ......... */

.videos-page{
    text-align: center;
    flex-direction: column;
    gap: 10px;   
}

.videos-page h3{
    font-size: 48px;
   
}

.videos-container{
    display: flex;
    gap: 30px;
    width: 100%;
    margin-top: 40px;
}

.video-card{
   width: 25%;
   text-align: left;
   
}

.hover-bg{
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background-color: black;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 6px solid var(--primary-color);
}
.play-btn{
    color: white;
}

.play-btn p{
    color: var(--primary-color);
}

.hover-bg:hover .overlay{
    opacity: 0.8;
}

.video-card img {
    width: 100%;
}

.video-card p{
    margin-top: 10px;
}



/* features ...........*/

.features-container{
    display: flex;
    gap: 200px;
    margin-top: 100px;
    height: auto;
}

.features-container h3{
    font-size: 47px;
}

.features-img{
    position: relative;
}

.pos-img{
    position: absolute;
    top: 70%;
    left: -25%;
}

.features-info{
    text-align: right;
}



/* game-category-container  */

.game-category-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 250px;
}

.game-btn{
    display: flex;
    align-items: center;
    gap:30px;
    padding: 10px;
    border: none;
    background-color: white;

}

.game-btn:hover{
    border: 1px solid var(--primary-color);
    border-radius: 50px;
}

footer{
    background-color: #0B0223;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
    padding: 30px 0px;
    margin-top: 60px;
}

.links{
    color: white;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.resize-icon{
    color: white;
}

.social-media-icons{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
    flex-wrap: wrap;
}

.privacy-links{
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
}

.copy-right{
    color: white;
    margin-top: 30px;
}


@media  screen and (max-width:425px) {
    nav , .banner, .right-side, .container, .right-side ul{
        flex-direction: column;
        text-align: center;
    }

    

    .banner-left-side{
        text-align: center;
    } 

    .banner-right-side img{
        width: 100%
    }

    .info-container, .videos-page, .features-container {
        flex-direction: column;
        padding: 0px;
    }

    .info-top ,.info-moto, .features-info{
        text-align: center;
    }

    .info-img img{
        width: 100%;
    }



    .videos-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .video-card{
        width: 80%;

    }

    .features-container{
        gap: 100px;
    }

    .resize-img{
        width: 80%;
        margin-left: 66px;
    }

    .pos-img{
        top: 60%;
        left: 3%;
    }

    .pos-img img{
        width: 43%;
    }

        .features-container{
        gap: 100px;
    }

    .resize-img{
        width: 80%;
        margin-left: 66px;
    }

    .pos-img{
        top: 60%;
        left: -25%;
    }

    .pos-img img{
        width: 43%;
    }
    .game-category-container {
        margin-top: 120px;
    }

    .videos-page{
        margin-top: 100px;
    }
  
}